#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.Maciek {
  height: 100vh;
  width: 100%;
  align-items: center;
  position: sticky;
}

.Top {
  align-items: center;
  position: sticky;
}

.text {

  padding: 5rem;
  font-size: 1.2rem;
  opacity: 1;
  transform: translateX(0);
}

.content{
  display: flex;
  overflow: hidden;
}

.image{
    opacity: 1;
    transform: translateX(0);
}

.image img{
  width: 100%;
  object-fit: cover;
  padding: 2rem;
  animation-name: fade;
  animation-duration: 3s;
}

.push-right {
  opacity: 0;
  transform: translateX(50px);
}

.push-left {
  opacity: 0;
  transform: translateX(-50px);
}

.Logo svg {
  width: 50px;
  left: auto;
}

.navigation a {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
  margin-right: 50px;
}

.Navi {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: sticky;
  padding: 20px, 100px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.288);
  background-color: #1e1e1e;
}

* {
  margin: 8px;
  padding: 0;
  width: 100;
  box-sizing: border-box;
}

main {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  color: #fff;
}

body {
  font-family: "Gill Sans Extrabold", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

footer {
  color: #fff;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: sticky;
  padding: 20px, 100px;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.288);
  background-color: #1e1e1e;
  margin-right: 50px;
}

label {
  color: rgba(0, 184, 0, 0.747);
}

label2 {
  color: rgba(211, 0, 70, 0.767);
}

header h1 {
  margin: 0;
  padding: 0;
}
header {
  padding: 20px;
  text-align: center;
  background-color: #1e1e1e;
}

header p {
  font-size: 1.2em;
  color: #666;
}

img {
  max-width: 100%;
  max-height: 100%;
}

section {
  background-color: #1e1e1e;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.288);
}

section h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

section p {
  margin: 25px;
}

section ul {
  padding-left: 20px;
}

section li {
  margin-bottom: 15px;
}