#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for code block */
pre {
  background-color: #1e1e1e;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  max-width: calc(100% - 20px); /* Adjust the value as needed */
}

code.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #ddd; /* Default text color */
}

/* Syntax highlighting */
.keyword {
  color: #569CD6 !important; /* Keyword color */
}

.comment {
  color: #6A9955 !important; /* Comment color */
}

.string {
  color: #CE9178 !important; /* String color */
}

.number {
  color: #B5CEA8 !important; /* Number color */
}  


.slide-in {
  opacity: 0; /* Initially hide the image */
  transform: translateX(100px); /* Move the image to the left */
  transition: opacity 0.5s, transform 0.5s; /* Add transition for smooth effect */
}

.slide-in.active {
  opacity: 1; /* Show the image */
  transform: translateX(0); /* Slide the image in */
}

.Maciek {
  height: 100vh;
  width: 100%;
  align-items: center;
  position: sticky;
}

.Top {
  align-items: center;
  position: sticky;
}

.text {
  padding: 5rem;
  font-size: 1.2rem;
  opacity: 1;
}

.content {
  display: flex;
  overflow: hidden;
}

.image img {
  width: 100%;
  object-fit: cover;
  padding: 2rem;
}

.Logo svg {
  width: 50px;
  left: auto;
}

.navigation a {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
  margin-right: 50px;
}

.light-up-button {
  background-color: #1e1e1e; /* Initial background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease; /* Add transition for smooth effect */
  border-radius: 5px;
}

.light-up-button:hover {
  background-color: #5f5f5f; /* Background color on hover */
  border-radius: 20px;
}


.Navi {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: sticky;
  padding: 20px 100px; 
  background-color: #1e1e1e;
  border-radius: 25px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.288);
}

* {
  margin: 8px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

main {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  color: #fff;
}

body {
  font-family: "Gill Sans Extrabold", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

footer {
  color: #fff;
  justify-content: flex-start; /* Align items at the start */
  display: flex;
  align-items: center;
  position: sticky;
  padding: 5px 100px; /* Corrected padding property */
  border-radius: 25px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.288);
  background-color: #1e1e1e;
  margin-right: 50px;
}

footer > * {
  margin-right: 10px; /* Adjust margin as needed to control spacing between elements */
}



label {
  color: rgba(0, 184, 0, 0.747);
}

label2 {
  color: rgba(211, 0, 70, 0.767);
}

header h1 {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #1e1e1e;
}

header p {
  font-size: 1.2em;
  color: #666;
}

section {
  background-color: #1e1e1e;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.288);
}

section h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

section p {
  margin: 25px;
}

section ul {
  padding-left: 20px;
}

section li {
  margin-bottom: 15px;
}
